@font-face{
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: "Roboto-light-italic";
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face{
  font-family: "Roboto-regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: "Roboto-regular-italic";
  src: url("../fonts/Roboto/Roboto-RegularItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face{
  font-family: "Roboto-medium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: "Roboto-medium-italic";
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face{
  font-family: "Roboto-bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face{
  font-family: "Roboto-bold-italic";
  src: url("../fonts/Roboto/Roboto-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face{
  font-family: "Roboto-black";
  src: url("../fonts/Roboto/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face{
  font-family: "Roboto-black-italic";
  src: url("../fonts/Roboto/Roboto-blackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

body{
  padding: 0;
  margin: 0;
}

.wrapper{
    background-color: #849d8f;
    background-image: url(../img/background-slide-1.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.container{
  padding: 0 2.3%;
}

header{
  min-height: 118px;
}

header img{
  display: inline-block;
  vertical-align: top;
  padding-top: 9px;
  margin-right: 20px;
}

.main-menu{
  display: inline-block;
  vertical-align: middle;
  width: 406px;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.main-menu ul{
  padding: 30px 0 0 0;
  margin: 0;
}

.main-menu-list{
  display: inline-block;
  vertical-align: middle;
}

.main-menu-list > a{
  padding: 7px 20px 7px 14px;
  font-family: "Roboto-bold";
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border-radius: 16px;
}

.main-menu-list > a:hover{
  padding: 7px 20px 7px 14px;
  background-color: rgb(247, 246, 243);
  color: #333333;
}

.main-menu-list > a:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}
/*Почему не работает без .main-menu?*/
.main-menu .submenu{
  display: none;
  width: 143px;
  height: 171px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  position: absolute;
  padding: 0;
  margin: 0;
  top: 60px;
  left: 215px;
}

.submenu a{
  display: block;
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  padding-left: 21px;
  font-family: "Roboto-regular";
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #323232;
}

.submenu .submenu-caption{
  list-style: none;
  padding-left: 21px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto-bold";
  padding-top: 11px;
  padding-bottom: 12px;
  border-radius: 5px 5px 0 0;
}

.submenu .submenu-caption::after{
  content: "";
  position: absolute;
  top: 38px;
  left: 6px;
  width: 128px;
  height: 1px;
  background-color: rgba(0,0,0,0.2);
}

.submenu .submenu-fifth-point{
  border-radius: 0 0 5px 5px;
}

.submenu a:hover{
  background-color: #fbded7;
}

.submenu a:active{
  background-color: #f6b5a5;
}

.main-menu-list:hover .submenu{
  display: block;
}

.user-panel{
  display: block;
  width: 267px;
  padding-top: 23px;
  float:right;
  font-size: 0;
  margin-bottom: 18px;
}

.user-search{
  display: inline-block;
  vertical-align: middle;
}

.search-link{
  /*Почему тут ширина и высота в итоге выходит 33х33 если паддинг такой*/
  display: block;
  float: left;
  width: 33px;
  height: 33px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  font-size: 0;
  background-image: url("../img/user-panel-search.png");
  background-repeat: no-repeat;
  background-position: center;
}

.search-link:hover{
  background-color: rgb(248, 247, 244);
  background-image: url("../img/user-panel-search-hover.png");
  background-repeat: no-repeat;
  background-position: center;
}


.user-search-form{
  display: none;
  position: absolute;
  top: 60px;
  right: 278px;
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  font-size: 0;
}

.user-search:hover .user-search-form{
  display: block;
}

#search-form-field{
  padding: 13px 232px 13px 14px;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  font-family: "Roboto-regular";
  font-size: 14px;
  line-height: 24px;
}

.user-login{
  display: inline-block;
  vertical-align: top;
}

.login-link{
  display: block;
  padding: 8px 16px 8px 44px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  background-image: url("../img/user-panel-login.png");
  background-repeat: no-repeat;
  background-position: 16px;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto-medium";
}

.login-link:hover{
  background-color: rgb(248, 247, 244);
  background-image: url("../img/user-panel-login-hover.png");
  background-repeat: no-repeat;
  background-position: 16px;
  color: #323232;
}

.user-login-form{
  display: none;
  width: 241px;
  height: 174px;
  padding: 20px 17px 20px 19px;
  position: absolute;
  top: 60px;
  right: 175px;
  border-radius: 6px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

#user-email-field,
#user-password-field{
  width: 225px;
  height: 16px;
  border: 1px solid #d3d3d2;
  padding: 13px 0 13px 14px;
  border-radius: 5px;
  margin-bottom: 20px;
}
/*Как смотреть бордер радиус?*/
.login-form-enter-btn {
  display: block;
  float: left;
  width: 100px;
  height: 44px;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
  font-family: "Roboto-bold";
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  border-radius: 22px;
  border: none;
  margin-right: 20px;
}

.user-login-form a{
  display: block;
  float: left;
  font-family: "Roboto-regular";
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-align: left;
  text-decoration: none;
}
/*Почему боттом 22пкс если по макету 27*/
.register-link::after{
  content: "";
  position: absolute;
  bottom: 23px;
  right: 20px;
  height: 1px;
  width: 118px;
  background-color: #adacaa;
}

.forgot-password-link::after{
  content: "";
  position: absolute;
  bottom: 47px;
  right: 38px;
  height: 1px;
  width: 100px;
  background-color: #adacaa;
}

.user-basket{
  display: inline-block;
  vertical-align: top;
}

.user-login:hover .user-login-form{
  display: block;
}

.basket-link{
  display: block;
  padding: 8px 34px 8px 45px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  background-image: url("../img/user-panel-basket.png");
  background-repeat: no-repeat;
  background-position: 16px;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto-medium";
}

.basket-link:hover{
    background-color: rgb(248, 247, 244);
    background-image: url("../img/user-panel-basket-hover.png");
    background-repeat: no-repeat;
    background-position: 16px;
    color: #323232;
}

.user-panel > div:nth-child(even){
  margin: 0 10px;
}

.telephone{
  display: block;
  float: right;
  color: #ffffff;
  text-decoration: none;
  font-family: "Roboto-bold";
  font-size: 14px;
  line-height: 16px;
  clear: both;
}

.telephone b{
  display: block;
  padding: 0;
  margin: 0;
  text-align: right;
}

.telephone a{
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}

.slide{
  margin-bottom: 41px;
  padding: 271px 0 0 0;
}

.slide-title{
  display: block;
  margin: 0 auto;
  width: 670px;
  font-family: "Roboto-bold";
  font-size: 60px;
  line-height: 60.35px;
  color: #ffffff;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 27px;
  text-align: center;
}

.btn-slide{
  display: block;
  width: 278px;
  padding: 9.5px 0;
  margin: 0 auto;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  font-family: "Roboto-bold";
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border-radius: 31px;
}

.first-slide{
  display: block;
}

.second-slide{
  display: none;
}

.third-slide{
  display: none;
}

.third-slide-title{
  width: 632px;
}

.slider{
  display: none;
}

.banners{
  width: 100%;
  text-align: center;
}

.banner{
  display: inline-block;
  vertical-align: middle;
  width: 519px;
  height: 189px;
  border-radius: 15px;
  color: #ffffff;
  padding: 17px 21px 23px 20px;
}

.banner-title{
  padding: 0;
  margin: 0;
  font-family: "Roboto-bold";
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 14px;
}

.banner-description{
  padding: 0;
  margin: 0;
  font-family: "Roboto-bold";
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 44px;
}

.btn-banner{
  display: block;
  float: right;
  height: 24px;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  opacity: 0.988;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 23px;
  font-family: "Roboto-bold";
  font-size: 18px;
  line-height: 24px;
  padding: 11px 21px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.banner-raspberries{
  background-image: url(../img/banner-raspberries-background.jpg);
  margin-right: 20px;
  margin-bottom: 40px;
}

.banner-chocolate{
  background-image: url(../img/banner-chocolate-background.jpg);
  margin-bottom: 40px;
}

.btn-raspberries{
  width: 123px;
}

.btn-chocolate{
  width: 147px;
}

.goods-item{
  display: inline-block;
  vertical-align: middle;
  width: 267px;
}
